.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: var(--magenta);
    font-weight: bold;
}

.bold {
    font-weight: 500;
}
  
@media (max-width: 1300px) {
    .root {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}