.headerRoot {
  position: absolute;
  top: -5;
  background: linear-gradient(180deg, rgba(40, 44, 52, 0.4), rgba(40, 44, 52, 1));
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition-duration: 350ms;
}

.iconButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #D9E1EE;
  font-size: 2.5rem;
}

.welcome {
  color: #FF6C6B;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.about {
  color: #D9E1EE;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width:500px) {
  .welcome {
    font-size: 2rem;
  }

  .about {
    font-size: 1rem;
  }

  .iconButton {
    font-size: 2rem;
  }
}

@media screen and (max-width:740px) {
  .headerRoot {
    background: linear-gradient(180deg, rgba(62, 68, 81, 0.4), rgba(62, 68, 81, 1));
  }
}
