.navbarRoot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  transition-duration: 350ms;
}

.navbarTop {
  background: rgba(62, 68, 81, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  transition-duration: 350ms;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.smallLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoText {
  font-weight: 600;
  color: #D9E1EE;
}

.padding {
  width: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbarIconButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.button {
  background: #BBD2CF;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition-duration: 350ms;
}

.button:hover {
  background: #78A6A0;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.iconButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #D9E1EE;
}

@media screen and (max-width: 400px) {
  .navbarRoot {
    padding: 0.5rem 1rem !important;
  }

  .navbarTop {
    padding: 0.5rem 1rem !important;
  }
}

@media screen and (max-width: 780px) {
  .navbarRoot {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarTop {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    justify-content: space-between;
    width: 100%;
  }

  .content {
    width: 100%;
    justify-content: space-around;;
  }
}

@media screen and (max-width: 1050px) {
  .navbarRoot {
    padding: 0.5rem 3rem;
  }

  .navbarTop {
    padding: 0.5rem 3rem;
  }
}
