.container {
    background-color: #3E4451;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9E1EE;
    font-size: 1.2rem;
    bottom: 0;
}