.main {
    /* min-height: 100vh; */
    /* width: calc(100vw - 15rem); */
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }