@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #D9E1EE;
  --black: #282C34;
  --background: #3E4451;
  --red: #FF6C6B;
  --yellow: #ECBE7B;
  --blue: #46D9FF;
  --magenta: #8000FF;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #0E141B #ffffff;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	/* background: var(--background); */
  background: #00121212;
}

::-webkit-scrollbar-thumb {
	background-color: var(--black);
	border-radius: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.cursor .cursor--small,
.cursor .cursor--large,
.cursor .cursor--text {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: var(--cursor-size);
  height: var(--cursor-size);
  mix-blend-mode: difference;
  pointer-events: none;
  user-select: none;
}

.cursor .cursor--text {
  --cursor-size: fit-content;
  font-size: 0.75rem;
  color: #fff;
  opacity: 0;
}

.cursor .cursor--text .text {
  font-family: sans-serif;
  font-weight: bold;
}

.cursor .cursor--small {
  --cursor-size: 20px;
  background: var(--magenta);
}

.cursor .cursor--large {
  --cursor-size: 60px;
  border: 2px solid var(--magenta);
}

.pro-sidebar .overlay {
  background-color: transparent;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stretch {
  flex-grow: 1;
  width: 100%;
}

.padding {
  width: 15rem;
}

@media (max-width: 1023px) {
  .padding {
    width: 5rem;
  }
}

@media (max-width: 767px) {
  .padding {
    width: 0;
  }
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #E6CCFF;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}