@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #D9E1EE;
  --black: #282C34;
  --background: #3E4451;
  --red: #FF6C6B;
  --yellow: #ECBE7B;
  --blue: #46D9FF;
  --magenta: #A9A1E1;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #ffffff #0E141B;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	/* background: var(--background); */
  background: #00121212;
}

::-webkit-scrollbar-thumb {
	background-color: var(--white);
	border-radius: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  background-color: #3E4451;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}