@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #0E141B #ffffff;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	/* background: var(--background); */
  background: #00121212;
}

::-webkit-scrollbar-thumb {
	background-color: #faf8fc;
	border-radius: 20px;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.css-46bh2p-MuiCardContent-root:last-child {
  padding-bottom: 0 !important;
}