.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 100vh; */
  width: calc(100vw - 15rem);
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.iconButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  font-size: 2.5rem;
}

@media (max-width: 767px) {
  .iconButton {
    margin: 0 0.5rem;
    font-size: 1.5rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .footer {
    padding: 0.5rem 0;
  }
}