.main {
  /* min-height: 100vh; */
  /* width: calc(100vw - 15rem); */
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.iconButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  font-size: 2.5rem;
}

.magenta {
  color: var(--magenta);
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.limitWidth {
  max-width: 40%;
  font-weight: 500;
  text-align: center;
}

.padding {
  width: 5rem;
  height: 3rem;
}

.bold {
  font-weight: 600;
  text-align: center;
}

@media (max-width: 767px) {
  .limitWidth {
    max-width: 90%;
  }

  .iconButton {
    margin: 0 0.5rem;
    font-size: 1.5rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .root {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer {
    padding: 0.5rem 0;
  }
}