.padding {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2 {
    font-weight: 500;
    color: var(--white);
}

.projects {
    color: var(--red);
}

.management {
    color: var(--yellow);
}

.experience {
    color: var(--magenta);
}