.aboutRoot1 {
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title1 {
  color: #FF6C6B;
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
}

.padding {
  width: 100px;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileImage {
  border-radius: 50rem;
}

.highlight {
  color: #ECBE7B;
}

.aboutAbout {
  color: #D9E1EE;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  width: 50%
}

.aboutRoot2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition-duration: 350ms;
}

.aboutRoot21 {
  grid-column: 1 / span 2;
}

.aboutRoot21:hover {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
}

.aboutRoot22 {
  grid-column: 3 / span 2;
}

.aboutRoot22:hover {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
}

.aboutRoot23 {
  grid-column: 5 / span 2;
}

.aboutRoot23:hover {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
}

.aboutRoot24 {
  grid-column: 7 / span 2;
}

.aboutRoot24:hover {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
}

.aboutRoot25 {
  grid-column: 9 / span 2;
}

.aboutRoot25:hover {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
}

.aboutRoot26 {
  grid-column: 2 / span 2;
}

.aboutRoot26:hover {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
}

.aboutRoot27 {
  grid-column: 4 / span 2;
}

.aboutRoot27:hover {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
}

.aboutRoot28 {
  grid-column: 6 / span 2;
}

.aboutRoot28:hover {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
}

.aboutRoot29 {
  grid-column: 8 / span 2;
}

.aboutRoot29:hover {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5) !important;
}

.title2 {
  color: #46D9FF;
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
}

.children {
  color: #DFDFDF;
  font-size: 5rem;
  line-height: 5rem;
  margin-top: 5px;
  transition-duration: 350ms;
  padding: 1rem 2.3rem;
}

.children:hover {
  color: var(--black);
}

.childrenS {
  color: #DFDFDF;
  font-size: 5rem;
  line-height: 5rem;
  margin-top: 5px;
  transition-duration: 350ms;
}

.childrenS:hover {
  color: var(--black);
}

.title3 {
  color: var(--magenta);
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
}

@media screen and (max-width: 500px) {
  .title1 {
    font-size: 2rem;
  }

  .title2 {
    font-size: 2rem;
  }

  .title3 {
    font-size: 2rem;
  }

  .aboutRoot1 {
    padding: 0 2rem !important;
  }
}

@media screen and (max-width: 900px) {

  .aboutRoot1 {
    padding: 0 5rem;
  }

  .aboutContent {
    flex-direction: column;
  }

  .padding {
    width: 0;
    height: 50px;
  }

  .aboutAbout {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .aboutRoot21 {
    grid-column: 1 / span 4;
  }
  .aboutRoot22 {
    grid-column: 5 / span 4;
  }
  .aboutRoot23 {
    grid-column: 9 / span 4;
  }
  .aboutRoot24 {
    grid-column: 1 / span 4;
  }
  .aboutRoot25 {
    grid-column: 5 / span 4;
  }
  .aboutRoot26 {
    grid-column: 9 / span 4;
  }
  .aboutRoot27 {
    grid-column: 1 / span 4;
  }
  .aboutRoot28 {
    grid-column: 5 / span 4;
  }
  .aboutRoot29 {
    grid-column: 9 / span 4;
  }
}

@media screen and (max-width: 550px) {
  .aboutRoot21 {
    grid-column: 1 / span 6 !important;
  }
  .aboutRoot22 {
    grid-column: 7 / span 6 !important;
  }
  .aboutRoot23 {
    grid-column: 1 / span 6 !important;
  }
  .aboutRoot24 {
    grid-column: 7 / span 6 !important;
  }
  .aboutRoot25 {
    grid-column: 1 / span 6 !important;
  }
  .aboutRoot26 {
    grid-column: 7 / span 6 !important;
  }
  .aboutRoot27 {
    grid-column: 1 / span 6 !important;
  }
  .aboutRoot28 {
    grid-column: 7 / span 6 !important;
  }
  .aboutRoot29 {
    grid-column: 4 / span 6 !important;
  }
}

@media screen and (max-width: 550px) {
  .aboutRoot21 {
    grid-column: 1 / span 12 !important;
  }
  .aboutRoot22 {
    grid-column: 1 / span 12 !important;
  }
  .aboutRoot23 {
    grid-column: 1 / span 12 !important;
  }
  .aboutRoot24 {
    grid-column: 1 / span 12 !important;
  }
  .aboutRoot25 {
    grid-column: 1 / span 12 !important;
  }
  .aboutRoot26 {
    grid-column: 1 / span 12 !important;
  }
  .aboutRoot27 {
    grid-column: 1 / span 12 !important;
  }
  .aboutRoot28 {
    grid-column: 1 / span 12 !important;
  }
  .aboutRoot29 {
    grid-column: 1 / span 12 !important;
  }
}
